{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "posts" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "posts" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    <span class="article-content">
      {{ range $i := (slice "tags") }}
      {{ with ($.Param $i) }}
      {{ range $k := . }}
      &nbsp;&nbsp;<a href='{{ relURL (print "/" $i "/" $k | urlize) }}'>{{ $k }}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
      <h3>转载申请</h3>
      <br>本作品采用<a rel=license href=http://creativecommons.org/licenses/by/4.0/>知识共享署名 4.0 国际许可协议</a>进行许可，转载时请注明原文链接，图片在使用时请保留全部内容，可适当缩放并在引用处附上图片所在的文章链接。
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
